version: '3.8'
services:
  db:
    image: 'postgres'
    env_file:
      - db.env
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
  django-rest:
    build: ./library_back
    depends_on:
      - db
    command: bash -c "sleep 20 && python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - ./library_back/.env

  frontend:
    build: ./library_front
    ports:
      - 3000:3000
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start