name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: build
        working-directory: .
        run: docker-compose up -d
  test-frontend:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install project
        working-directory: ./library_front
        run: npm install
      - name: Run tests
        working-directory: ./library_front
        run: npm test
  test-backend:
    services:
      db:
        image: postgres
        env:
          POSTGRES_DB: library_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
      - name: Install dependencies
        working-directory: ./library_back
        run: pip install -r requirements.txt
      - name: Run Make migrations
        working-directory: ./library_back
        run: python manage.py makemigrations
      - name: Run migrations
        working-directory: ./library_back
        run: python manage.py migrate
      - name: Run migrations
        working-directory: ./library_back
        run: python manage.py test --pattern="tests.py"
        env:
          POSTGRES_DB: library_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install project
        working-directory: ./library_front
        run: npm install
      - name: Run lint
        working-directory: ./library_front
        run: npm run lint

